body {
    font-family: "Sofia", sans-serif;
}

.sembunyi {
    display: none;
}

a:link {
    text-decoration: none;
    color: blue;

}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.profpicture {
    border-radius: 50%;
}

.fotobiasa {
    border-radius: 25px;
}

.fotoframe {
    border: 2px solid red;
    border-radius: 25px;
    width: 205px;
    padding: 2px;
}