body {
    margin: 0;
    padding: 0;
    border: 0px; 
    vertical-align: baseline;
    font: inherit;
    box-sizing: inherit;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    letter-spacing: normal;
    line-height: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    margin-top: 6px;
}

.three-dot-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    width: 40px;
    height: 40px;
    background-color: rgb(240,240,240);
    justify-self: end;
    border-radius: 50px;
    border-width: 1px;
    border-color: rgb(226 226 226);
    grid-column-start: 3;
}

.three-dot-button:hover {
    background-color: #ebebeb;
    transition: cubic-bezier(0.4,0,0.2,1) 0.15s;
}

.bagian-username {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    max-width: 100%;
}

.font-username {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    text-overflow: ellipsis;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
}

.margin-username {
    margin-bottom: 16px;
}

.margin-verifikasi {
    margin-left: 5px;
    margin-bottom: 15px;
}

.share-button svg {
    margin-left: 12px;
    margin-top: 10px;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    width: 100%;
    height: 57px;
    background-color: rgb(67, 230, 96);
    margin: 8px;
    border-radius: 17px;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

.tile-three-dot-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:  rgb(67, 230, 96);
}

.tile-three-dot-button:hover {
    border: none;
    display: flex;
    justify-content: center;
    background-color:rgb(53, 200, 80);
    transition: cubic-bezier(0.4,0,0.2,1) 0.15s;
}

.tile:hover {
    overflow: hidden;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(67, 230, 96);
    color: rgb(30, 35, 48);
    transform: scale(1.02);
    transition: cubic-bezier(0.267, 0.81, 0.34, 1.3) 0.15s;
    border-radius: 15px;

}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.image-container{
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 0px;
}

.image-container img {
    height: 100%;
}

.margin-linktree {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footer-akhiran {
    display: flex;
    height: 20px;
    width: 100%;
    margin-top: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 8px;
}